<%- include('blocks/header', {bot: bot, user: user, auth: auth, stats: stats}) %>
<head>
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/747251137421377546/4b7e7bc89a588d559ab52cbaf71f867a.webp?size=128">
    <meta property="og:title" content="<%= bot.user.username %>">
    <meta name="theme-color" content="#1d1e28">
    <meta property="og:url" content="https://nexlist.glitch.me/">
    <meta property="og:description" content="Nexlist uma botlist completa e facil.">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.discordapp.com/attachments/756985061534072941/767492723317407774/now-ui-kit.js"></script>
    <title><%= bot.user.username %></title>
</head>
<style>
  @import url("https://cdn.jsdelivr.net/npm/now-ui-kit@1.3.0/assets/css/now-ui-kit.min.css");
  @import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
  @import url("https://cdn.discordapp.com/attachments/756985061534072941/761970807298850846/main.css");
  @import url("https://cdn.discordapp.com/attachments/756985061534072941/767493430443638784/now-ui-kit.css");
  body {
    border-top: 1px solid black !important;
    justify-content: center !important;
    align-items: center !important;
    background: #2C2F33 !important;
    color: #fff !important;
    font-family: 'Montserrat', 'Tahoma' !important;
  }
  .welcome-message {
    padding: 5% !important;
    margin-top: 8% !important;
 
  }
  .img-welcome {
    background-image: url("") !important;
    background-repeat: no-repeat !important;
  }
  .team-botlist {
    margin-left: 40%;
    margin-top: 12%;
    width: 100%;
  }
  .team-div {
    display: flex;
    width: 100%;
    margin-left: -12%;
    /*margin-left: -12%;
    margin-top: 10%;
    padding: 5%;*/
  }
  .img-team{
    width: 100px !important;
    border: 1px solid black !important;
    border-radius: 50% !important;
    background-color: black !important;
  }
  .container {
    display: flex;
    justify-items: center;
    width: 100%;
  }
  .p-time {
    margin-left: 10%;
  }
  .time-names {
    margin-top: 15%;
    margin-left: -12%;
    text-align: center;
  }
  .container {
    margin-top: 4%;
  }

  
  .fix-button {
    border: 1px !important;
    border-radius: 3px !important;
    background-color: #2C2F33 !important;
    padding: 5px !important;
    margin-left: 82%;
    margin-top: -4%;
  }
  .fix-button:hover {
    background-color: white !important;
    color: black !important;
  }
      .footerhome{
  background-color: #7B68EE;
  box-shadow:0 3px 0 #363636;
  position:relative;
  top: 40%;
  margin: -0%;
  height: 30px;
  width: 100%;;
  }
  .footer-title{
  font-family: Comic Sans MS;
    color: white;
  position:relative;
  top: -70%;
      height: 0px;
  width: 100%;;
    
  }
</style>
<body>
  <div class="welcome-message bold">
    <h3>Procurando uma botlist? Esse é o local certo!</h3>
    <p>
Uma botlist simples fácil e totalmente grátis<br>
Garantindo o melhor para sua divulgação!<br>Adicione e veja seu bot crecendo.
    </p>

      
    </p>
    <div class="img-welcome"></div>
  </div>

  <div class="container">
    <div class="team-botlist">
      <h2 style="margin-left: 6%;align-self: center;">Equipe</h2>
      <div class="team-div">
        <% const ceo = bot.users.cache.get("557746795543789568"); %>
        <% const cto = bot.users.cache.get("652674110278729748"); %>
        <p class="p-time">
          <img title="Fundador" class="img-team" src="<%= ceo.displayAvatarURL({dynamic:true,format:"png",size:1024}) %>"><br>
          <p class="time-names"><%= ceo.username %></p>
        </p>
        <p class="p-time">
          <img title="Co. Fundador" class="img-team" src="<%= cto.displayAvatarURL({dynamic:true,format:"png",size:1024}) %>"><br>
          <p class="time-names"><%= cto.username %></p>
        </p>
      </div>
    </div>
  </div>

</body>